<div class="mx-auto w-[500px]">
    <h1 class="text-3xl font-bold underline text-red-500">
      If I'm Underlined Tailwind is working!
    </h1>
    
    <div>
      <h2 class="text-2xl">if you see a coffer cup below fontawesome is working</h2>
      <fa-icon [icon]="faCoffee"></fa-icon>
    </div>

    <div class="font-semibold">PrimeNg is also installed but commented because of some style conflict</div>
</div>

<!-- <div class="mx-auto w-[500px] flex-col gap-4">
  <h1>primeNg Icons working</h1>
  <div>
    <i class="pi pi-check" style="font-size: 1rem"></i>
  <i class="pi pi-times" style="font-size: 1.5rem"></i>
  <i class="pi pi-search" style="font-size: 2rem"></i>
  <i class="pi pi-user" style="font-size: 2.5rem"></i>
  </div>
</div> -->


<div class="mx-auto w-[500px] flex flex-col gap-4">
  <h1>Reusable form with validation</h1>
  <app-input type="text"  
            placeholder="email" 
            [control]="formGroup.controls.email"
            inputId="email"
            label="Email"></app-input>

  <app-input type="text"  
            placeholder="Password" 
            [control]="formGroup.controls.password"
            inputId="password"
            label="Password"></app-input>

  <button (click)="onSubmit()" class="px-4 py-2 bg-blue-500 rounded-md">Submit</button>
</div>



