@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer reset, primeng;


html, body {
    margin: 0px;
    padding: 0px;
}


input {
    border: 1px solid rgba(128, 128, 128, 0.2);
}